.page {
    background: gray;
    height: 140vh;
    width: 100vw;
    display: grid;
    grid-template: 20% 80%/ 20% 80%;
    font-family: sans-serif;
}

.dashboard-icon {
    filter: invert(1);
    height: 40px;
    width: 40px;
}

.side-panel {
    background-color: #3b82f6;
    grid-area: 1/1/3/2;
    display: grid;
    grid-template: 13% repeat(11, 1fr) 45%/ 10% 1fr 20%;
    color: white;
    font-weight: bold;
}

.side-panel-item {
    /* background-color: aliceblue; */
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr;
}

.side-panel-item img {
    height: 20px;
    width: 20px;
    grid-column: 1/2;
    filter: invert(1);
}

.side-panel-item div {
    grid-column: 3/span 4;
}

#Dashboard {
    grid-area: 1/1/2/span 3;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.dashboard-img {
    height: 100%;
    width: 21%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.dashboard-txt {
    height: 100%;
    width: 76%;
    display: flex;
    align-items: center;
}

#Home {
    grid-row: 2/3;
}

#Profile {
    grid-row: 3/4;
}

#Messages {
    grid-row: 4/5;
}

#History {
    grid-row: 5/6;
}

#Tasks {
    grid-row: 6/7;
}

#Community {
    grid-row: 7/8;
}

#Settings {
    grid-row: 10/11;
}

#Support {
    grid-row: 11/12;
}

#Privacy {
    grid-row: 12/13;
}

.header {
    /* background-color: yellowgreen; */
    background-color: white;
    grid-area: 1/2/2/span 1;
    display: grid;
    grid-template: 40% 60%/ 10% 52% 28% 10%;
}

.search-bar {
    /* background-color: brown; */
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar img {
    height: 20px;
    width: 20px;
}

.search-bar input {
    background-color: #e0e0e0;
    height: 24px;
    width: 92%;
    border-radius: 13px;
    border: none;
}

.profile-img-txt {
    /* background-color: purple; */
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
}

.display-picture {
    height: 75px;
    width: 75px;
}

.profile-txt {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.morgan {
    font-size: 30px;
}

.bell-dp-name {
    /* background-color: cyan; */
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}

.bell-icon {
    height: 20px;
    width: 20px;
}

.dp-with-bell {
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.new-upload-share {
    /* background-color: orange; */
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #3b82f6;
    padding: 10px;
    border: none;
    border-radius: 16px;
    width: 28%;
    color: white;
    font-weight: bold;
}

.main-screen {
    background-color: peachpuff;
    grid-area: 2/2/span 1/span 1;
}