.page {
    background: gray;
    height: 140vh;
    width: 100vw;
    display: grid;
    grid-template: 20% 80%/ 20% 80%;
    font-family: sans-serif;
}

.dashboard-icon {
    filter: invert(1);
    height: 40px;
    width: 40px;
}

.side-panel {
    background-color: #3b82f6;
    grid-area: 1/1/3/2;
    display: grid;
    grid-template: 13% repeat(11, 1fr) 45%/ 10% 1fr 20%;
    color: white;
    font-weight: bold;
}

.side-panel-item {
    /* background-color: aliceblue; */
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr;
}

.side-panel-item img {
    height: 20px;
    width: 20px;
    grid-column: 1/2;
    filter: invert(1);
}

.side-panel-item div {
    grid-column: 3/span 4;
}

#Dashboard {
    grid-area: 1/1/2/span 3;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.dashboard-img {
    height: 100%;
    width: 21%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.dashboard-txt {
    height: 100%;
    width: 76%;
    display: flex;
    align-items: center;
}

#Home {
    grid-row: 2/3;
}

#Profile {
    grid-row: 3/4;
}

#Messages {
    grid-row: 4/5;
}

#History {
    grid-row: 5/6;
}

#Tasks {
    grid-row: 6/7;
}

#Community {
    grid-row: 7/8;
}

#Settings {
    grid-row: 10/11;
}

#Support {
    grid-row: 11/12;
}

#Privacy {
    grid-row: 12/13;
}

.header {
    /* background-color: yellowgreen; */
    background-color: white;
    grid-area: 1/2/2/span 1;
    display: grid;
    grid-template: 40% 60%/ 10% 52% 28% 10%;
}

.search-bar {
    /* background-color: brown; */
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar img {
    height: 20px;
    width: 20px;
}

.search-bar input {
    background-color: #e0e0e0;
    height: 24px;
    width: 92%;
    border-radius: 13px;
    border: none;
}

.profile-img-txt {
    /* background-color: purple; */
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
}

.display-picture {
    height: 75px;
    width: 75px;
}

.profile-txt {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.morgan {
    font-size: 30px;
}

.bell-dp-name {
    /* background-color: cyan; */
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}

.bell-icon {
    height: 20px;
    width: 20px;
}

.dp-with-bell {
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.new-upload-share {
    /* background-color: orange; */
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #3b82f6;
    padding: 10px;
    border: none;
    border-radius: 16px;
    width: 28%;
    color: white;
    font-weight: bold;
}

.main-screen {
    background-color: peachpuff;
    grid-area: 2/2/span 1/span 1;
    display: grid;
    grid-template: 5% 1fr 10%/ 2% 72% 23% 3%;
}

.projects {
    background-color: aquamarine;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template: 5% 1fr 3% 1fr 3% 1fr/ 1fr 3% 1fr 2%;
}

.project-box {
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template: 10% 60% 30%/ 2% 4% 1fr 3%;
}

.star-eye-share img {
    height: 20px;
    width: 20px;
}

.star-eye-share {
    grid-area: 3/3/4/4;
    display: flex;
    justify-content: end;
    align-items: center;
}

#eyecon {
    margin-left: 15px;
    margin-right: 15px;
}

.yellow-strip {
    background-color:  #f59e0b;
    grid-area: 1/1/4/2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project-description {
    grid-area: 2/3/3/4;
    color: gray;
    font-size: 14px;
}

.project-title {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.your-projects {
    grid-area: 1/1/2/2;
    font-weight: bold;
    font-size: 17px;
}

.super-cool-project {
    grid-area: 2/1/3/2;
}

.less-cool-project {
    grid-area: 2/3/3/4;
}

.impossible-app {
    grid-area: 4/1/5/2;
}

.easy-peasy-app {
    grid-area: 4/3/5/4;
}

.ad-blocker {
    grid-area: 6/1/7/2;
}

.money-maker {
    grid-area: 6/3/7/4;
}

.announcements-trending {
    background-color: magenta;
    grid-area: 2/3/3/4;
    display: grid;
    grid-template: 5% 1fr 3% 5% 1fr/ 1fr;
}

.announcements-title {
    grid-area: 1/1/2/2;
    font-size: 15px;
    font-weight: bold;
}

.announcements-box {
    /* background-color: purple; */
    background-color: white;
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 8px;
}

.announcements-content {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announce-title {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.announce {
    /* background-color: aliceblue; */
    width: 100%;
    height: 100%;
    color: gray;
}

.grey-strip {
    background-color: gray;
    border-radius: 10px;
    width: 80%;
    height: 1%;
    margin-bottom: 10px;
}

.trending-title {
    grid-area: 4/1/5/2;
}

.trending-box {
    background-color: purple;
    grid-area: 5/1/6/2;
}